{% block content %}
    {% if site_logo %}
      <div class="branding">
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home"> Begin to rock
              <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
          </a>
      </div>
    {% endif %}
    {% if site_name %}
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
    {% endif %}
    {{ site_slogan }}
{% endblock %}